In [26]:
import pandas as pd
import numpy as np
import random
random.seed(10)
import matplotlib.pyplot as plt

In [27]:
NO2 = pd.read_csv("NO2.csv")
HFC = pd.read_csv("HFC.csv")
CH4 = pd.read_csv("CH4.csv")
CO2 = pd.read_csv("CO2.csv")
PFC = pd.read_csv("PFC.csv")
SF6 = pd.read_csv("SF6.csv")

In [28]:
NO2 = pd.DataFrame(NO2)
HFC = pd.DataFrame(HFC)
CH4 = pd.DataFrame(CH4)
PFC = pd.DataFrame(PFC)
SF6 = pd.DataFrame(SF6)
CO2 = pd.DataFrame(CO2)

In [29]:
len(SF6)

1250

In [30]:
NO2 = NO2.drop(range(1012,1290))
NO2
len(NO2)

1012

In [31]:
HFC = HFC.drop(range(1012,1190))
len(HFC)

1012

In [32]:
CH4 = CH4.drop(range(1012,1290))
len(CH4)

1012

In [33]:
CO2 = CO2.drop(range(1012,1290))
len(CO2)

1012

In [34]:
SF6 = SF6.drop(range(1012,1250))
len(SF6)

1012

In [35]:
Country=NO2["Country or Area"]
WorkingData = pd.DataFrame()
WorkingData['Country'] = Country

In [41]:
WorkingData[1:5]

     Country
1  Australia
2  Australia
3  Australia
4  Australia

In [42]:
CO2[1:5]

  Country or Area  Year        Value
1       Australia  2018  415339.7085
2       Australia  2017  414597.8181
3       Australia  2016  410968.5195
4       Australia  2015  401499.3057

In [43]:
CO2C = CO2['Value']
SF6C = SF6['Value']
HFCC = HFC['Value']
CH4C = CH4['Value']
PFCC = PFC['Value']
NO2C = NO2['Value']

In [44]:
WorkingData['CO2'] = CO2C
WorkingData['SF6'] = SF6C
WorkingData['HFC'] = HFCC
WorkingData['PFC'] = PFCC
WorkingData['NO2'] = NO2C
WorkingData['CH4'] = CH4C

In [46]:
WorkingData[1:5]

,Country,CO2,SF6,HFC,PFC,NO2,CH4
1,Australia,415339.7085,145.265400,9273.449152,236.002704,19626.06870,105111.4476
2,Australia,414597.8181,115.357167,9250.631509,202.625537,20800.03484,104363.5546
3,Australia,410968.5195,117.125146,9218.702440,224.924134,19083.38678,102675.2073
4,Australia,401499.3057,116.172156,9166.519961,171.323657,19080.91113,103029.5993

In [25]:
#Write data to csv
#WorkingData.to_csv('DataSet2.csv')