In [ ]:
%load_ext sql

In [ ]:
%%sql

sqlite:///studentinfo.db

In [ ]:
%%sql

CREATE TABLE Departments (courseID TEXT, department TEXT)

In [ ]:
%%sql

INSERT INTO Departments
values ("STAT4365", "STAT"),("STAT4342", "STAT 2"),("STAT4510", "STAT 1")

In [ ]:
%%sql

CREATE TABLE Students1 (StudentId TEXT, FirstName TEXT, LastName TEXT, Age NUM, GPA NUM)

In [ ]:
%%sql

INSERT INTO Students1
values ("8237488", "Jojo","Kujo", 25, 3.7),
("823241238", "Jotaro","Joestar", 21, 4.0),
("82334343", "Jonathan","Giovanna", 24, 3.8)

In [ ]:
%%sql

CREATE TABLE Courses (courseID TEXT, CourseName TEXT, StudentID TEXT)

In [ ]:
%%sql

INSERT INTO Courses
values ("CSCI 4343", "Computer","32323"),
("STAT 4365", "Stat 2","8237488"),
("STAT 3466", "Stat 1","325632"),
("CSCI 34343", "Computer 2","78787"),
("SPAN 2001", "SPAN","10293"),
("STAT 4365", "Data Science","823241238")

In [ ]:
%%sql

select * from Courses

In [ ]:
%%sql

select * from Courses INNER JOIN Students1 on Students1.StudentId = Courses.StudentID