In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///chinook.db

In [ ]:
%%sql

select FirstName,LastName from employees where FirstName = "Laura"

In [ ]:
%%sql

UPDATE employees SET LastName = "Smith" WHERE LastName = "Callahan"

In [ ]:
%%sql
select FirstName,LastName from employees where FirstName = "Laura"